body {
    background-color: rgb(60, 179, 113);
    color: #fff;
    margin: 0;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
Nav{
  margin:0 auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}

form{
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-width: 700px;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
  .input-group{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      input, button, label{
          border-radius: 2px;
          border: 1px solid #ddd;
          margin-bottom: 10px;
      }
      input{
        height: 40px;
        font-size: 18px;
      }

      label{
          font-size: 18px;
          font-weight: 600;
          border: none;
      }

      button{
          background-color: #1AC4EE;
          height: 30px;
          color: #fff;
          &:disabled{
              background-color: #ddd;
          }
      }
  }
}

.error{
  color: #EE1A2D;
}
